@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
  font-family: 'Roboto', sans-serif;
}
